[submodule "ID630151-introduction-to-algorithmic-problem-solving"]
	path = ID630151-introduction-to-algorithmic-problem-solving
	url = https://github.com/otago-polytechnic-bit-courses/ID630151-introduction-to-algorithmic-problem-solving.git
